@charset "utf-8";
/* * {outline: 1px dotted purple;} */
/* reset */
* {margin: 0; padding:0;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}

/* 기본색 */
:root {
    --black-color: #222;
    --darkgray-color: #333;
    --gray-color: #000;
    --lightgray-color: #ddd;
    --white-color: #fff;
    --ol-color: #666;
    --section-bg-color: #eee;
    --section-blue-color: #243fb0;
    --section-green-color: #5e6e3f;
    --section-red-color: #6c162f;
    --contact-div-color: #f9f9f9; 
    --large-width: 1200px;
}

/* 기본설정 : 폰트 크기 */
/* mobile */
@media (max-width:767px) {
  :root {font-size: 14px;}}
/* tablet */
@media (min-width:768x) and (max-width:1023px) {
  :root {font-size: 15px;}}
/* desktop */
@media (min-width:1024px) {
  :root {font-size: 16px;}}

/* 기본설정 */
body {
    font: 16px "Apple SD Gothic Neo", "Malgun Gothic", "맑은고딕", sans-serif;
    color: var(--darkgray-color);
    overflow-x: hidden;
}
ul {font-size: 0.98rem;}
ol {
    display: inline-block;
    font-size: 0.9rem;
    color: var(--ol-color);
    line-height: 2rem;
    text-align: left;
    padding: 2rem 3rem;
    margin-bottom: 2rem;
    border: 1px solid var(--lightgray-color);
}

/* 모달팝업 뜨면 포트폴리오 페이지는 스크롤 되지 않게 */
body.no-scroll {
  overflow: hidden;
}
/* 모달레이어팝업 */
.modal {
  display: none;
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, .3);
}
.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  background: var(--white-color);
  padding: 20px;
  max-width: 100vw;
  max-height: 100vh;
  overflow-y: auto;
}
.popup img {
    max-width: 50vw;
    padding: 0 50px 50px;
}
.popup .pop_title {
  padding: 10px;
  background: var(--darkgray-color);
  color: var(--white-color);
}
.popup .pop_content {
  padding: 10px;
  line-height: 1.8;
}
.popup .pop_close {
  float: right;
  padding: 10px;
  background: var(--darkgray-color);
  color: var(--white-color);
  text-align: center;
  border-radius: 50%;
  margin: 1rem 0;
  cursor: pointer;
}

/* LAYOUT (모바일 기본) */
/* HEADER AREA */
header {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 10px;
    background: var(--white-color);
    border-bottom: 1px solid var(--lightgray-color);
    z-index: 1000;
}
.logo img {
    padding-left: 1rem;
    width: 188px;
    vertical-align: top;
}
.main_menu {
    display: flex;
}
.sub_menu {
    display: none;
}
.main_menu>li>a,
.profile_contact>li>a {
    display: block;
    padding: 1.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
}
.profile_contact {
    display: none;
}

.main_slide {
    width: 100%;
    border-bottom: 1px solid var(--lightgray-color);
}

/* SECTION AREA */
section {
    scroll-margin-top: 100px;
}
section .wrap {
    padding: 3rem 0;
    text-align: center;
}
section .wrap h2 {
    font-size: 2rem;
    padding: 2rem 0 ;
}
section .wrap ul {
    line-height: 1.5rem;
    padding-bottom: 2rem;
    letter-spacing: 0.02rem;
}
section .description li span {
    opacity: .4;
    margin-right: 1rem;
}
section .description img {
    width: 20px;
    vertical-align: middle;
}
section .btn_wrap {
    text-align: center;
}
section .btn {
    margin-bottom: 5px;
}

/* UI/UX AREA */
section .uiux_wrap {
    height: 100%;
}
section .uiux_wrap .aquarium_img {
    width: 100%;
    max-width: 550px;
    height: auto;
}
section .uiux_wrap .skincare_img {
    width: 100%;
    max-width: 550px;
    height: auto;
}
section .uiux_con {
    text-align: left;
    width: 100%; 
    /* max-width: 450px; */
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
}
section .uiux_con .web_mobile {
    display: inline-block;
    padding: 4px 7px 3px;
    color: var(--white-color);
    border-radius: 5px;
    text-align: center;
}
section .uiux_con h3 {
    padding: 1rem 0 1.5rem;
    font-size: 2rem;
}
section .uiux_con .con {
    padding-bottom: 2rem;
}
section .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: var(--black-color);
    border: 1px solid var(--black-color);
    border-radius: 20px;
    cursor: pointer;
}

/* AQUARIUM AREA */
#aquarium .uiux_con .web_mobile {
    background: var(--section-blue-color);
}
#aquarium .btn {
    color: var(--section-blue-color);
    border: 1px solid var(--section-blue-color);
}
#aquarium .btn:hover {
    color: var(--white-color);
    background: var(--section-blue-color);
}
#aquarium {
    background-image: linear-gradient(var(--section-bg-color), var(--white-color));
    clip-path: polygon(0 0, 100% 10%, 100% 120%, 0 100%);
}

/* SKIN CARE AREA */
#skincare .uiux_con .web_mobile {
    background: var(--section-green-color);
}
#skincare .btn {
    color: var(--section-green-color);
    border: 1px solid var(--section-green-color);
}
#skincare .btn:hover {
    color: var(--white-color);
    background: var(--section-green-color);
}

/* HAAGENDAZS AREA */
#hgdaz .uiux_con {
    width: 65vw;
    padding-top: 2rem;
}
#hgdaz .uiux_con .web_mobile {
    background: var(--section-red-color);
}
#hgdaz .btn {
    color: var(--section-red-color);
    border: 1px solid var(--section-red-color);
}
#hgdaz .btn:hover {
    color: var(--white-color);
    background: var(--section-red-color);
}
#hgdaz {
    background-image: linear-gradient(var(--section-bg-color), var(--white-color), var(--section-bg-color));
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
}

/* GRAPHIC AREA */
section .graphic_wrap {
    text-align: left;
    height: 100%;
    padding: 5rem 0;
    padding-left: 2rem;
}
section .graphic_wrap h3 {
    font-weight: 500;
    font-size: 2rem;
}
section .graphic_wrap h3 span {
    opacity: 0.3;
    padding: 0 1rem 0 0;
}
section .graphic_wrap .btn:hover {
    color:var(--white-color);
    background: var(--black-color);
    border: 1px solid var(--black-color);
}
section .graphic_wrap>div {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
section .graphic_wrap h3~div>img {
    margin-top: 2rem;
}
section .graphic_wrap .text {
    padding-top: 2rem;
    padding-left: 2rem;
}
section .graphic_wrap .text ul {
    line-height: 2rem;
    padding-bottom: 2rem;
}
#hgdaz .uiux_wrap {
    padding-top: 50px;
}

/* IMG (UI/UX & GAPHIC & VIDEO) */
section .uiux_wrap .aquarium_img {
    width: 250px;
}
section .uiux_wrap .skincare_img {
    width: 250px;
}
section .uiux_wrap .skincare_img.skincare_bottom {
    display: none;
}
section .uiux_wrap .hgdazs_img {
    width: 100px;
}
section .graphic_wrap .product_page_cont>img {
    width: 150px;
}
section .graphic_wrap .event_page_cont>img {
    width: 170px;
}
section .graphic_wrap .cardnews_cont>img {
    width: 150px;
}
section .graphic_wrap .web_banner_cont>img {
    width: 220px;
}
section .graphic_wrap .webzine_cont>img {
    width: 160px;
}
section .graphic_wrap .newsletter_cont>img {
    width: 190px;
}
section .graphic_wrap .video_cont>img {
    padding-top: 2rem;
    width: 190px;
}

/* GRAPHIC BACKGROUND */
#product_page {
    background-image: linear-gradient(180deg, #fdfce9 0%, #ffffff 100%);
    clip-path: none;
}
#event_page {
    background-image: linear-gradient(180deg, #e7dfc0 0%, #ffffff 100%);
    clip-path: none;
}
#cardnews {
    background-image: linear-gradient(180deg, #ecf8fe 0%, #ffffff 100%);
    clip-path: none;
}
#cardnews_2 {
    background-image: linear-gradient(180deg, #eeeeee 0%, #ffffff 100%);
    clip-path: none;
}
#web_banner {
    background-image: linear-gradient(180deg, #eeeeee 0%, #ffffff 100%);
    clip-path: none;
}
#webzine {
    background-image: linear-gradient(180deg, #eeeeee 0%, #ffffff 100%);
    clip-path: none;
}
#newsletter {
    background-image: linear-gradient(180deg, #eeeeee 0%, #ffffff 100%);
    clip-path: none;
}

/* CONTACT AREA */
#contact {
    margin: 5rem 0;
}
#contact p {
    padding: 2rem 0;
    line-height: 2rem;
}
#contact .contact_wrap .email_portpolio {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}
#contact .contact_wrap .email_portpolio>div {
    width: 300px;
    min-width: 175px;
    padding: 2rem 1.5rem;
    margin: 0 10px;
    border-radius: 20px;
    background: var(--contact-div-color);
}
#contact .contact_btn {
    display: inline-block;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--darkgray-color);

}
#contact .contact_btn:hover {
    color: var(--white-color);
    background: var(--darkgray-color);
}

/* FOOTER AREA */
footer {
    padding: 3rem 0;
    color: rgba(255,255,255, .6);
    background: var(--darkgray-color);
}
footer .footer_wrap {
    text-align: center;
}
footer address {
    font-size: 0.9rem;
    font-style: normal;
    line-height: 1.3rem;
}
footer small {
    display: block;
    margin-top: 1rem;
}


/* =========================
    TABLET AREA
========================= */
@media (min-width:768px) and (max-width:1023px) {
    section .uiux_con {
        width: 520px;
        margin: 0 auto;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    /* IMG (UI/UX & GAPHIC & VIDEO) */
    section .uiux_wrap .aquarium_img {
        width: 350px;
    }
    section .uiux_wrap .skincare_img {
        width: 350px;
    }
    section .uiux_wrap .hgdazs_img {
        width: 150px;
    }
    section .graphic_wrap .product_page_cont>img {
        width: 250px;
    }
    section .graphic_wrap .event_page_cont>img {
        width: 270px;
    }
    section .graphic_wrap .cardnews_cont>img {
        width: 250px;
    }
    section .graphic_wrap .web_banner_cont>img {
        width: 320px;
    }
    section .graphic_wrap .webzine_cont>img {
        width: 260px;
    }
    section .graphic_wrap .newsletter_cont>img {
        width: 290px;
    }
    section .graphic_wrap .video_cont>img {
        width: 290px;
    }
}

/* =========================
    DESKTOP AREA
========================= */
@media (min-width:1024px) {
    .inner {
        max-width: var(--large-width);
        margin: 0 auto;
    }
    /* HEADER AREA */
    header {
        position: sticky;
        padding-top: 0;
        background: var(--white-color);
        border-bottom: 1px solid var(--lightgray-color);
        z-index: 1000;
    }
    .header_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 0;
        width: 100%;
        height: 70px;
    }
    nav {
        display: flex;
        justify-content: space-between;
    }
    nav .main_menu {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
    }
    nav .main_menu>li.menu_profile {
        display: none;
    }
    nav .main_menu>li.menu_contact {
        display: none;
    }
    nav .main_menu>li {
        position: relative;
    }
    nav .main_menu>li>a {
        display: block;
        padding: 1.5rem 3.5rem;
        font-weight: bold;
    }
    nav:hover .sub_menu {
        display: block;
    }
    nav:hover .sub_menu_bg {
        display: block;
    }
    nav .sub_menu {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        padding: 20px 0;
        width: 100%;
        font-size: 0.9rem;
        text-align: center;
        z-index: 20;
    }
    nav .sub_menu>li {}
    nav .sub_menu>li>a {
        display: block;
        line-height: 2rem;
    }
    .sub_menu_bg {
        display: none;
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
        height: 232px;
        background: rgba(255,255,255, .95);
        border-top: 1px solid var(--lightgray-color);
        border-bottom: 1px solid var(--lightgray-color);
        z-index: 10;
    }
    .profile_contact {
        display: flex;
        min-width: 120px;
        font-size: 0.8rem;
    }
    .profile_contact>li>a {
        display: inline-block;
        cursor: pointer;
    }
    .profile_contact>li:first-child::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 10px;
        margin: 0 20px;
        background: var(--lightgray-color);
    }

    /* UI/UX AREA */
    section .uiux_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }
    section .uiux_con {
        text-align: left;
        width: 100%;
        margin: 0 auto;
        padding: 0 5rem;
    }
    section .btn_wrap {
        text-align: left;
    }
    #hgdaz .uiux_wrap {
        width: 70%;
        margin: 0 auto;
    }
    #hgdaz .uiux_wrap .uiux_con {
        width: 60vw;
        padding: 0 0 0 5rem;
    }

    /* GRAPHIC AREA */
    section .graphic_wrap {
        height: 45vh;
    }
    section .graphic_wrap .description {
        max-width: 90%;
    }
    .graphic_wrap>div {
        flex-wrap: nowrap;
        align-items: center;
    }
    #cardnews .description,
    #cardnews_2 .description,
    #newsletter .description,
    #video_travel .description {
        margin-top: -10rem;
    }
    #webzine .description {
        margin-top: -5rem;
    }
    section .cont {
        width: 100%;
    }

    /* IMG (UI/UX & GAPHIC & VIDEO) */
    section .uiux_wrap .aquarium_img {
        width: 34em;
    }
    section .uiux_wrap .skincare_img {
        width: 550px;
    }
    section .uiux_wrap .skincare_img.skincare_top {
        display: none;
    }
    section .uiux_wrap .skincare_img.skincare_bottom {
        display: block;
    }
    section .uiux_wrap .hgdazs_img {
        padding-top: 350px;
        width: 380px;
    }
    section .graphic_wrap .product_page_cont>img {
        width: 380px;
    }
    section .graphic_wrap .event_page_cont>img {
        width: 450px;
    }
    section .graphic_wrap .cardnews_cont>img {
        width: 450px;
    }
    section .graphic_wrap .web_banner_cont>img {
        width: 500px;
    }
    section .graphic_wrap .webzine_cont>img {
        width: 450px;
    }
    section .graphic_wrap .newsletter_cont>img {
        width: 450px;
    }
    section .graphic_wrap .video_cont>img {
        width: 430px;
    }

    /* GRAPHIC BACKGROUND */
    #product_page {
        background-image: linear-gradient(180deg, #fdfce9 0%, #ffffff 100%);
        clip-path: polygon(0 0, 100% 10%, 100% 110%, 0 100%);
    }
    #event_page {
        background-image: linear-gradient(180deg, #e7dfc0 0%, #ffffff 100%);
        clip-path: polygon(0 0, 100% 10%, 100% 110%, 0 100%);
    }
    #cardnews {
        background-image: linear-gradient(180deg, #ecf8fe 0%, #ffffff 100%);
        clip-path: polygon(0 0, 100% 10%, 100% 110%, 0 100%);
    }
    #cardnews_2 {
        background-image: linear-gradient(180deg, #eeeeee 0%, #ffffff 100%);
        clip-path: polygon(0 0, 100% 10%, 100% 110%, 0 100%);
    }
    #web_banner {
        background-image: linear-gradient(180deg, #eeeeee 0%, #ffffff 100%);
        clip-path: polygon(0 0, 100% 10%, 100% 110%, 0 100%);
    }
    #webzine {
        background-image: linear-gradient(180deg, #eeeeee 0%, #ffffff 100%);
        clip-path: polygon(0 0, 100% 10%, 100% 110%, 0 100%);
    }
    #newsletter {
        background-image: linear-gradient(180deg, #eeeeee 0%, #ffffff 100%);
        clip-path: polygon(0 0, 100% 10%, 100% 110%, 0 100%);
    }
}