@charset "utf-8";

/* article Area */
article {
  /* height: 100vh; */
  padding-top: 3rem;
  /* text-align: left; */
  /* outline: 1px dotted red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
article .skincare_padding p {
  /* min-width: 400px; */
  max-width: 350px;
  /* margin: 0 auto; */
}
article .skincare_padding img {
  max-width: 350px;
  margin: 0 auto;
}
article h2 {
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: normal;
  /* outline: 1px dotted red; */
}
article p {
  /* font-size: 1.1rem; */
  /* color: #444; */
  /* outline: 1px dotted red; */
}
article .skincare_padding {
  padding: 0 2rem;
  line-height: 2rem;
}
article a.main_btn {
  display: inline-block;
  margin-top: 2rem;
  padding: 15px 40px;
  background-color: #566e39;
  color: #fff;
  border-radius: 5px;
  transition: .2s;
  /* border: 2px solid #566e39; */
}
article a.main_btn:hover {
  color: #566e39;
  background-color: #c2d677;
  /* outline: 1px solid darkblue; */
}

/* news area */
.news_wrap {
  width: 90vw;
  padding: 2rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
  line-height: 1.5rem;
  /* color: #909090; */
  font-size: 1.05em;
  border: 1px solid #eaeaea;
  background: rgba(255,255,255, .7);
}
.news_wrap .news_wrap_title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.news_wrap .news_wrap_title h3 {
  display: flex;
  font-size: 1.35rem;
  color: #566e39;
  padding-right: 3px;
  /* max-width: 60vw; */
}
.news_wrap .news_wrap_title .date {
  white-space: nowrap;
  color: #909090;
  font-size: 0.98rem;
}
.news_wrap p {
  /* color: #505050; */
  /* font-size: 1rem; */
  /* text-decoration:underline; */
}
.p_content {
  padding: 1.5rem 0;
  font-size: 0.95rem;
  color: #333;
  /* font-weight: bold; */
}
.green_font {
  display: inline;
  padding: 2px 7px;
  /* font-weight: bold; */
  letter-spacing: -0.1rem;
  color: #fff;
  background: #c2d677;
}

/* contact area */
.contact_wrap {
  width: 90vw;
  margin-bottom: 6rem;
}
.contact_wrap h3 {
  font-size: 1.5rem;
  padding-bottom: 5px;
}
.contact_wrap table {
  width: 100%;
  padding: 1rem 0;
  border-collapse: collapse;
  border-bottom: 1px solid #333;
  /* border: 1px solid #333; */
  text-align: center;
}
.contact_wrap table th, td {
  padding: 1rem;
  border-top: 1px solid #aaa;
}
.contact_wrap table thead>tr>th {
  border-top: 1px solid #333;
}
.contact_wrap table th {
  background: rgba(0,0,0, .08);
}
.contact_wrap table colgroup col:nth-child(1) {
  width: 20%;
}
.contact_wrap table colgroup col:nth-child(2) {
  width: 40%;
}
.contact_wrap table colgroup col:nth-child(3) {
  width: 40%;
}
.contact_wrap caption {
  caption-side: bottom;
  text-align: left;
  padding-top: 10px;
  /* outline: 1px dotted red; */
}
.contact {
  display: flex;
  justify-content: center;  
  gap: 20px;
}
.contact>.btn {
    text-align: center;
    /* font-weight: bold; */
    font-size: 1.3rem;
}
.contact>.btn>p {
  line-height: 1.9rem;
  margin-bottom: 1rem;
}
.contact>.btn a {
  display: block;
  height: 50px;
  width: 200px;
  padding: 0 30px;
  text-align: center;
  line-height: 50px;
  font-size: 1.4rem;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  background: #566e39;
}
.contact>.btn a:hover {
  color: #566e39;
  background: #c2d677;
}
.location ul {
  padding-top: 1rem;
}
.location li {
  line-height: 2rem;
}

/* mobile */
@media (max-width:599px) {
  .contact {
    flex-direction: column;
    align-items: stretch;
  }
  .contact>.btn a {
    width: 100%;
    padding: 0;
    /* max-width: none; */
  }
}
/* tablet */
@media (min-width:600px) and (max-width:799px) {
  article .skincare_padding p {
    min-width: 500px;
  }
  article .skincare_padding img {
    max-width: 500px;
  }
}
/* desktop */
@media (min-width:800px) {
  article {}
  article .skincare_padding p {
    max-width: 920px;
  }
  .img_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-width: 920px;
  }
  article .skincare_padding div {
    text-align: center;
  }
  article .skincare_padding img {
    max-width: 300px;
  }
}
