@charset "utf-8";

/* reset */
* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}
address {font-style: normal; font-size: 0.8rem;}
small {}

/* 기본색 */
:root {
  --black-color: #333;
  --navy-color: #000957;
  --light-navy-color: #0e175c;
  --lightblue-color: #577BC1;
  --skyblue-color: #c0ebff;
  --lightgray-color: #eee;
  --gray-color: #ccc;
  --darkgray-color: #999;
  --charcoal-color: #666;
  --top-banner-color: #000;
  --orange-color: #e09a2c;
  --footer-bg-color: #efefef;
  --large-width: 1000px;
  --middle-width: 600px;
}

/* 기본설정 : 폰트 크기 */
/* mobile */
@media (max-width:599px) {
  :root {
    font-size: 14px;
  }
}
/* tablet */
@media (min-width:600px) and (max-width:799px) {
  :root {
    font-size: 16px;
  }
}
/* desktop */
@media (min-width:800px) {
  :root {
    font-size: 18px;
  }
}

/* 기본설정 : 페이지 전체 */
body {
  font-size: 16px;
  font-family: '맑은고딕', 'Apple SD Gothic Neo', sans-serif;
  color: var(--black-color);
  background: none;
}
h2 {
  font-size: 1.7rem;
  color: var(--navy-color);
  text-align: center;
  padding: 2rem;
  letter-spacing: -0.1rem;
}
h2 i {
  padding-right: 10px;
}
h3 {
  font-size: 1.3rem;
  color: var(--lightblue-color);
}
h4 {
  font-size: 1.7rem;
}

/* 거북이 */
.turtle .container img {
  display: none;
}
/* 공기방울 */
.bubble .container img {
  display: none;
}

/* top banner 탑 배너 */
.top_banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  color: #fff;
  background-color: var(--top-banner-color);
  z-index: 9999;
}
.top_banner .container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.top_banner .container p {
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 47px;
}
.top_banner .container a {
  display: block;
  width: 10.625rem; /*170px*/
  height: 35px;
  line-height: 35px;
  margin-top: 5px;
  background-color: var(--top-banner-color);
  color: #fff;
  border: 1px solid #fff;
  font-size: 0.8rem;
  border-radius: 30px;
  font-weight: bold;
  text-align: center;
}

/* 모바일 로고 & 메뉴 */
header {
  position: relative;
}
header .container {}
header .logo {}
header .logo img {
  display: none;
}
.main_menu, .sub_bg {
  display: none;
}
.mobile_menu {
  display: none;
  position: absolute;
  top: 90px; /* top_banner(45) + logo_bar(45) */
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 8000;
  overflow-y: auto;
}
.mobile_menu.active {
  display: block;
}
.mobile_menu>ul {}
.mobile_menu>ul>li {}
.mobile_menu>ul>li>a {
  display: block;
  padding: 13px 20px;
  color: #fff;
  background-color: var(--navy-color);
}
.mobile_menu>ul>li>ul {}
.mobile_menu>ul>li>ul> li {
  border-bottom: 1px solid var(--navy-color);
}
.mobile_menu>ul>li>ul> li a {
  display: block;
  padding: 13px 25px;
  color: #fff;
  background-color: var(--light-navy-color);
}
.mobile_logo_bar {
  display: block;
  position: fixed;
  top: 45px;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: var(--lightgray-color);
  z-index: 9998;
}
.mobile_logo_bar .container {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.mobile_logo_bar .container a {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--navy-color);
}
/* 햄버거메뉴 */
.hamburger {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--navy-color);
  border-radius: 2px;
}
.hamburger:hover .mobile_menu {
  display: block;
}

/* 로그인 회원가입 마이페이지 고객센터 */
.join {
  display: none;
}

/* slide 이미지슬라이드 */
.bx-wrapper {
  margin-top: 25px;
}
.bx-wrapper li img {}

/* event Area (진행중인 이벤트) */
.eventWrap {
  margin-top: -60px;
}
.eventWrap .container {}

.eventWrap .container h2 {}
.eventWrap .container .event_list {}
.eventWrap .container .event_list .event {
  padding: 2rem;
  border-top: 1px solid var(--gray-color);
  background-color: var(--lightgray-color);
}
.eventWrap .container .event_list .event:hover {
  cursor: pointer;
}
.eventWrap .container .event_list .event span {
  font-size: 1rem;
  margin-right: 10px;
}
.eventWrap .container .event_list .event h3 {
  display: inline;
}
.eventWrap .container .event_list .event p {
  margin-top: 1rem;
  color: var(--charcoal-color);
}
.eventWrap .container .event_list .event .event_link {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 2rem;
  color: #fff;
  background-color: var(--lightblue-color);
}
.eventWrap .container .event_list .event:hover .event_link{
  background-color: var(--navy-color);
}

/* 허리 배너 */
.banner {
  padding: 2.5rem 2rem;
  color: #fff;
  background-color: var(--navy-color);
}
.bn2 {
  background-color: var(--orange-color);
}
.banner .container {}
.banner .container .bannertxt {}
.banner .container .bannertxt p {
  font-size: 1.1rem;
}
.banner .container .bannertxt h4 {
  padding-top: 0.3rem;
}
.banner .container .bannertxt .small {
  font-size: 0.9rem;
  opacity: 0.5;
  padding-top: 1rem;
}
.banner .container .btn {
  align-items: center;
  justify-content: center;
}
.banner .container .btn a {
  display: block;
  font-size: 20px;
  width: 13rem;
  line-height: 3rem;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 70px;
  margin-top: 1rem;
}

/* time&program Area (운영시간 및 공연프로그램) */
.time_program {
  background: url(../images/underthesea.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 50px;
}
.time_program .container {
  padding: 0 30px;
}
.time_program .container h2 {
  color: #fff;
}
.time_program .container .time_wrap {}
.time_program .container .time_wrap .time {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(255,255,255, .2);
  border: 1px solid rgba(255,255,255, .5);
}
.time_program .container .time_wrap .time p {
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
.time_program .container .time_wrap .time p:nth-child(1) {
  font-weight: bold;
  font-size: 1.5rem;
}
.time_program .container .time_wrap .time p:nth-child(2) {
  font-size: 1.2rem;
  line-height: 1.5;
  padding-top: 0.2em;
}
.time_program .container .program {
  color: var(--black-color);
}
.time_program .container .program>div {}
.time_program .container .program>div:nth-child(1) {
  display: none;
}
.time_program .container .program>div:nth-child(2) {
  padding: 5%;
  background: url(../images/crocodile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}
.time_program .container .program>div:nth-child(3) {
  padding: 5%;
  background: url(../images/mermaid.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.time_program .container .program>div:nth-child(4) {
  display: none;
}
.time_program .container .program .program_img {}
.time_program .container .program .program_txt {}
.time_program .container .program .program_txt p {
  padding: 1rem;
  background: rgba(255,255,255, .6);
}
.time_program .container .program .program_txt p:nth-child(1) {
  font-weight: bold;
  font-size: 1.5rem;
}
.time_program .container .program .program_txt p:nth-child(2) {
  font-size: 1rem;
}

/* bbs Area (공지사항 및 자주 묻는 질문) */
.notice_faq {
  background: url(../images/jellyfish.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.notice_faq .container {
  padding: 0 2rem 3rem;
}
.notice_faq .container h2 {
  color: #fff;
}

/* notice Area (공지사항) */
.notice_faq .container .notice {}
.notice_faq .container .notice ul {
  padding: 20px;
  font-size: 0.9rem;
  background: rgba(255,255,255, 0.2);
}
.notice_faq .container .notice ul li a {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

/* faq Area (자주묻는 질문) */
.notice_faq .container .faq {}
.notice_faq .container .faq ul {
  padding: 20px;
  color: #fff;
  font-size: 0.9rem;
  background: rgba(255,255,255, 0.2);
}
.notice_faq .container .faq ul li a {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

/* footer Area */
footer {
  padding: 3rem 0;
  border-top: 1px solid var(--gray-color);
  background-color: var(--footer-bg-color);
}
footer .container {
  padding-left: 30px;
}
footer .footer_top {}
footer .footer_top ul {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}
footer .footer_top ul li {
  font-weight: bold;
}
footer .footer_top i {
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  color: #fff;
  background-color: var(--black-color);
  border-radius: 50%;
  margin-right: 5px;
}
.footer_bottom ul {
  padding-top: 2rem;
}

/* ----------------------------------------- */
/* ----------------------------------------- */
/* desktop */
@media screen and (min-width:768px) {
  /* 공통 */
  .container {
    max-width: var(--large-width);
    margin: 0 auto;
  }

  body {
    overflow-x: hidden;
    background-image: url(../images/body_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  h2 {
    color: var(--skyblue-color);
  }

  /* 거북이 */
  .turtle .container img {
    display: block;
    position: absolute;
    top: 200vh;
    left: 60vw;
    height: 12rem;
    z-index: 8888;
  }
  /* 공기방울 */
  .bubble .container img {
    display: block;
    position: absolute;
    top: 210vh;
    left: 5rem;
    height: 30vh;
    z-index: 8887;
  }

  /* 모바일 로고 & 메뉴 */
  .mobile_logo_bar {
    display: none;
  }
  .mobile_menu.active {
  display: none;
  }

  /* 로그인 회원가입 마이페이지 고객센터 */
  .join {
    display: block;
    z-index: 9996;
  }
  .join .container {
    position: relative;
    top: 55px;
    right: 0;
    color: #fff;
    z-index: 9995;
  }
  .join .container ul {
    display: flex;
    justify-content: flex-end;
  }
  .join .container ul li {}
  .join .container ul li:not(:last-child) {
    padding-right: 12px;
  }
  .join .container ul li a {
    font-size: 0.7rem;
  }
  .join .container ul li a:hover {
    text-decoration: underline;
  }

    /* slide 이미지슬라이드*/
  .bx-wrapper {
    position: relative;
    top: 0;
    border: none;
    box-shadow: none;
    min-height: 1080px;
    margin-top: 20px;
  }
  .bx-wrapper li img {
    width: 100%;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 120px;
    z-index: 9000;
  }
  header .container {}
  header .container .logo {
    margin-bottom: 0.5rem;
    filter: none;
  }
  header .container .logo img {
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 4.125rem;
    vertical-align: bottom;
  }
  header nav .main_menu,
  header nav .sub_bg {
    display: block;
  }
  header nav .main_menu {
    display: flex;
    margin-top: 5rem;
  }
  header nav .main_menu>li {
    flex: 1;
    text-align: center;
  }
  header nav .main_menu>li>a {
     padding: 10px 0;
     line-height: 1.1875rem;
     background: none;
     border-bottom: none;
     color: #fff;
  }
  header nav .main_menu>li:hover>a {}
  header nav .main_menu>li:hover .sub_bg {
    display: block;
  }
  header nav .sub_bg {
    display: none;
    position: absolute;
    width: 100%;
    top: 130px;
    left: 0;
    background-color: rgba(255,255,255, 1);
  }
  header nav .sub_bg>.sub_wrap {
    display: flex;
    padding: 10px 0 20px;
  }
  header nav .sub_bg>.sub_wrap>.sub_m {
    flex: 1;
    text-align: center;
  }
  header nav .sub_bg>.sub_wrap>.sub_m>li {}
  header nav .sub_bg>.sub_wrap>.sub_m>li a {
    display: inline-block;
    padding: 5px 0;
    color: #666;
    font-size: 0.8rem;
  }
  header nav .sub_bg>.sub_wrap>.sub_m>li:hover>a {
    color: var(--navy-color);
    box-shadow: 0 2px 0 0 var(--navy-color);
  }
  header .mobile_menu {
    display: none;
  }

  /* event Area (진행중인 이벤트) */
  .eventWrap {
    position: absolute;
    bottom: -10em;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    /* z-index: 7000; */
  }
  .eventWrap .container {
    height: auto;
  }
  .eventWrap .container h2 {}
  .eventWrap .container .event_list {
    display: flex;
    gap: 20px;
  }
  .eventWrap .container .event_list .event {
    flex: 1;
    padding: 40px 20px;
    text-align: center;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  }
  .eventWrap .container .event_list .event span {}
  .eventWrap .container .event_list .event h3 {}
  .eventWrap .container .event_list .event p {}

  .eventWrap .container .event_list .event:not(:last-child) {}

  /* 허리 배너 */
  .banner {
    margin-top: -4rem;
  }
  .bn2 {
     margin-top: 0;
  }
  .banner .container {
    display: flex;
    align-items: center;
  }
  .banner .container .bannertxt {
    flex: 1;
  }
  .banner .container .btn {
    align-items: center;
    justify-content: center;
  }
  .banner .container .btn a {
    margin: 0;
  }

  .time_program {
    position: relative;
  }
  .time_program .container {
    padding-bottom: 5rem;
  }
  .time_program .container h2 {
  }
  .time_program .container .time_wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .time_program .container .time_wrap .time {
    min-width: 430px;
    min-height: 250px;
    background: url(../images/coupon.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    border: none;
  }
  .time_program .container .time_wrap .time p {}
  .time_program .container .time_wrap .time p:nth-child(1) {
    padding-top: 2.5rem;
    font-size: 1.5rem;
  }
  .time_program .container .time_wrap .time p:nth-child(2) {
    padding-top: 1rem;
  }

  .time_program .container .program {
    display: flex;
    flex-wrap: wrap;
  }
  .time_program .container .program>div {
    width: 50%;
    height: 15rem;
    color: #fff;
    margin-bottom: 0;
  }
  .time_program .container .program>div:nth-child(1) {
    display: block;
    background: url(../images/crocodile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50px 0 0 0;
  }
  .time_program .container .program>div:nth-child(2) {
    padding: 5%;
    box-sizing: border-box;
    background: rgba(255,255,255, .1);
    border-radius: 0 50px 0 0;
    margin-bottom: 0;
  }
  .time_program .container .program>div:nth-child(3) {
    padding: 5%;
    box-sizing: border-box;
    background: rgba(255,255,255, .1);
    border-radius: 0 0 0 50px;
  }
  .time_program .container .program>div:nth-child(4) {
    display: block;
    background: url(../images/mermaid.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0 0 50px 0;
  }
  .time_program .container .program .program_txt {
    display: flex;
    align-items: center;
  }
  .time_program .container .program .program_txt .txt_wrap p {
    padding: 0;
    background: none;
  }
  .time_program .container .program .program_txt .txt_wrap p:nth-child(1) {
    font-size: 1.6rem;
  }
  .time_program .container .program .program_txt .txt_wrap p:nth-child(2) {
    font-size: 1.05rem;
  }

  .notice_faq {
    padding: 2rem 0 7rem;
  }
  .notice_faq .container {
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 0;
  }
  .notice_faq .container {}
  .notice_faq .container>div ul {
    border-radius: 10px;
  }
  .notice_faq .container .notice {
    flex: 1;
    padding-right: 30px;
  }
  .notice_faq .container .faq {
    flex: 1;
    padding-left: 30px;
  }

  footer {}
  footer .container {}
  footer .container address {}
  footer .container address p {
    padding: 0.9rem 0;
  }

  /* 주소 & SNS */
  footer .container address .footer_top {
    display: flex;
    justify-content: space-between;
  }
  footer .container address .footer_top ul {
    display: flex;
    align-items: center;
  }
  footer .container address .footer_top ul li {}
  footer .container address .footer_top ul li:first-child {}

  /* copyright & 이용약관 */
  footer .container {
    padding-left: 0;
  }
  footer .container address .footer_bottom {
    display: flex;
    justify-content: space-between;
  }
  footer .container address .footer_bottom p {
    padding-top: 1rem;
  }
  footer .container address .footer_bottom ul {
    display: flex;
    font-size: 0.7rem;
    padding-top: 1rem;
  }
  footer .container address .footer_bottom ul li {}
  footer .container address .footer_bottom ul li:not(:last-child) {}
  footer .container address .footer_bottom ul li:not(:last-child)::after {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 10px;
    background-color: var(--gray-color);
    content: '';
  }
}